@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}

.dn {
    width: 80px;
    transition: .7s ease-in-out;
 
    #sidebar-wrapper {
        display: grid;
        gap: 3.5rem;
    }

    #index-border {
        border: unset;
        place-content: end;
        padding: .5rem;
        width: unset;
    }

    #add-item-button {
        display: none;
    }
}